{% extends 'base.html.twig' %}

{% block title %}アンケート協力謝礼受け取り{% endblock %}

{% block body %}
    <div class="container mt-3">
        <a class="btn btn-danger" href="{{ path('app_main_index', {'eventID': event_id}) }}" role="button">Logout </a>
        <div class="mt-4 p-5 bg-primary text-white rounded text-center">
            <h1 class="mb-5">アンケート回答謝礼受け取り</h1>
            <h4>あなたのメールアドレス : {{ email }}</h4>
        </div>
    </div>
    <div class="container mt-3">
        <div class="mt-4 p-5 bg-success text-white rounded text-center">
            {% for code in codeArray %}
                <h4>Amazonギフトコード : {{ code }}</h4>
            {% endfor %}
        </div>
    </div>
{% endblock %}
