{% extends 'baseAdmin.html.twig' %}

{% block title %}アンケート協力謝礼受け取り{% endblock %}

{% block body %}
    <div class="row m-3 p-2 bg-primary text-white justify-content-center text-center">
        <h4> Welcom to the administrator console</h4>
        
    </div>
{% endblock %}
